.info{
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 15vh;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

.data{
    animation: fadeIn .75s;
    color: white;
    width: 60vw;
    padding-left: 2rem;
}

.header{
    margin-bottom: 1rem;
    font-size: 3.25vw;
    font-weight: 600;
    text-shadow: #5d86bd 2px 4px;
}

.text  {
    font-size: 1.5vw;
    font-family: "PT Sans Narrow", sans-serif;
}

.img{
    width: 35vw;
    text-align: center;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

.me{
    animation: fadeInAnimation .75s;
    width: 25vw;
    height: 35vw;
    border-radius: 3rem;
    box-shadow: 0.75rem 0.75rem #81ace6;
    
}

.spacer{
    text-align: center;
    font-size: 3rem;
    color:#81ace6;
}

@media (max-width: 1000px) {

    .info{
        flex-direction: column;
        margin-top: 11vh;
        align-items: center;
        width: 100vw;
    }
    .data{
        width: 80vw;
        padding: 0;
    }

    .header{
        font-size: 10vw;
    }

    .text{
        font-size: 5vw;
    }

    .img{
        margin-top: 5vh;
        margin-bottom: 5vh;
        width: 80vw;
    }

    .me{
        width: 80vw;
        height: 50vh;
    }

}